<style>
  #puzzle-grid {
    table-layout: fixed;
    border-collapse: collapse;
    aspect-ratio: 1;
  }
  #puzzle-grid td {
    border: solid 1px black;
    aspect-ratio: 1;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
  }
</style>
{% template grid %}
<table id="puzzle-grid" class="text--center {{grid_classes}}">
  {% for i in (0..gridSize) %}
    {% if i < gridSize %}
      <tr>
        {% for j in (0..gridSize) %}
          {% if j < gridSize %}
            {% assign cell_index = i | times: gridSize | plus: j %}
            <td class="{{cell_classes}}" data-value-fit="true">{{ grid | slice: cell_index, 1 }}</td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endif %}
  {% endfor %}
</table>
{% endtemplate %}